node_modules
.next
out
.env
.env.local
.env*.local
*.log
.DS_Store
next-env.d.ts
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
*.apk
*.aab
*.iml
.idea
prisma/dev.db
prisma/dev.db-journal
public/uploads/proofs/*
!public/uploads/proofs/.gitkeep
